# working files*~
.idea
.php_cs.cache
.deptrac.cache


# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Local notes directory
.notes/

# Local logs
npm-debug.log
yarn-error.log
