[alias]
    a = commit --amend
    up = pull
    p = push
    s = status -s
    df = diff --color --color-words --abbrev
    dff = diff --name-only --diff-filter=U
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    sl = log --pretty=oneline --abbrev-commit
    ra = rebase --abort
    rc = rebase --continue
    f = fetch --all --prune --tags

    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

    # Clean all branches that are merged into remote master
    clo = "!git branch --merged origin/master | grep -v '\\*' | grep -v master | xargs -n 1 git branch -d"
    clu = "!git branch --merged upstream/master | grep -v '\\*' | grep -v master | xargs -n 1 git branch -d"

    # Rebase the current branch to the latest remote master
    rbo = "!git fetch origin && git rebase --interactive --autosquash origin/master"
    rbu = "!git fetch upstream && git rebase --interactive --autosquash upstream/master"

    # Reset the branch to the latest remote master
    rso = "!git fetch origin && git reset --hard origin/master"
    rsu = "!git fetch upstream && git reset --hard upstream/master"

    # Show contributors of the project
    who = shortlog -n -s --no-merges

    # List all new commits
    new = !sh -c 'git log $1@{1}..$1@{0} "$@"'

[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

[commit]
    # gpgsign = true

[merge]
    tool = opendiff

# rewrites of repo paths
[url "git@github.com:"]
    insteadOf = "gh:"
    insteadOf = "git://github.com"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
    pushInsteadOf = "https://github.com/"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
    pushInsteadOf = "https://gist.github.com/"

[help]
    autocorrect = 1

[push]
    default = current
    followTags = true

[rebase]
    autosquash = true

# use separate file for username / github token / etc
[include]
    path = ~/.gitconfig.local
