# Easier navigation -------------------------------------------------
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"


# List aliases ------------------------------------------------------
alias ll='ls -hl'
alias la='ls -a'
alias lla='ls -lah'


# Misc aliases ------------------------------------------------------
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'


# Misc -------------------------------------------------------------
alias f='find . -iname'
alias ducks='du -cksh * | sort -rn|head -11' # Lists folders and files sizes in the current folder
alias top='top -o cpu'
alias systail='tail -f /var/log/system.log'
alias m='more'
alias df='df -h'
alias diskspace='df -P -kHl'
alias fs="stat -f \"%z bytes\""


# Quicklinks --------------------------------------------------------
alias reload='source ~/.bashrc'
alias hosts='sudo $EDITOR /etc/hosts'   # yes I occasionally 127.0.0.1 twitter.com ;)
alias config='for file in ~/.{extra,bash_prompt,exports,aliases,functions}; do; [ -r "$file" ] && subl "$file"; done'
alias profileme="history | awk '{print \$2}' | awk 'BEGIN{FS=\"|\"}{print \$1}' | sort | uniq -c | sort -n | tail -n 20 | sort -nr"
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete" # Recursively delete `.DS_Store` files


# Network -----------------------------------------------------------
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"


# Git aliases ------------------------------------------------------
alias g="git"
alias checkout="git checkout"


# Docker aliases ---------------------------------------------------
alias dm-up="docker-machine start $DOCKER_MACHINE_NAME"
alias dm-down="docker-machine stop $DOCKER_MACHINE_NAME"
alias dm-list="docker-machine ls"
alias ds="docker ps"
alias di="docker images"
alias drmf='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'
alias drmfi='docker rmi $(docker images -a -q)'
alias dslogs='docker-sync logs -f'


# Docker container -------------------------------------------------
alias php54="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:5.4-cli php"
alias php55="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:5.5-cli php"
alias php56="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:5.5-cli php"
alias php70="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:7.0-cli php"
alias php71="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:7.1-cli php"
alias php72="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:7.2-cli php"
alias php73="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:7.3-cli php"
alias php="php73" # default version is PHP 7.3

alias composer="docker run -it --rm -v \$PWD:/app -v ~/.composer:/composer -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/composer"
alias composer-require-checker="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/composer-require-checker"
alias dephpend="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/dephpend"
alias phpdoc-to-typehint="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpdoc-to-typehint"
alias php-cs-fixer="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/php-cs-fixer"
alias phpstan="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpstan"
alias phpunit5="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpunit5"
alias phpunit6="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpunit6"
alias phpunit7="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpunit7"
alias rmt="docker run -it --rm -v \$PWD:/app -v ~/.gitconfig:/root/.gitconfig -v ~/.gitconfig.local:/root/.gitconfig.local -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/rmt"
alias fix="php-cs-fixer fix -v"


# System aliases ---------------------------------------------------
alias update-all="brew update && brew upgrade && gem update && gem update --system && npm update -g && make -C .. all"
