# Easier navigation -------------------------------------------------
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"


# List aliases ------------------------------------------------------
alias ll='ls -hl'
alias la='ls -a'
alias lla='ls -lah'


# Misc aliases ------------------------------------------------------
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'


# Misc -------------------------------------------------------------
alias f='find . -iname'
alias ducks='du -cksh * | sort -rn|head -11' # Lists folders and files sizes in the current folder
alias top='top -o cpu'
alias systail='tail -f /var/log/system.log'
alias m='more'
alias df='df -h'
alias diskspace='df -P -kHl'
alias fs="stat -f \"%z bytes\""


# Quicklinks --------------------------------------------------------
alias reload='source ~/.bashrc'
alias hosts='sudo $EDITOR /etc/hosts'   # yes I occasionally 127.0.0.1 twitter.com ;)
alias config='for file in ~/.{extra,bash_prompt,exports,aliases,functions}; do; [ -r "$file" ] && subl "$file"; done'
alias profileme="history | awk '{print \$2}' | awk 'BEGIN{FS=\"|\"}{print \$1}' | sort | uniq -c | sort -n | tail -n 20 | sort -nr"
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete" # Recursively delete `.DS_Store` files


# Network -----------------------------------------------------------
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"


# Git aliases ------------------------------------------------------
alias g="git"
alias checkout="git checkout"


# Maven aliases ----------------------------------------------------
alias mb="mvn clean install -T1.0C"
alias mfb="mb -DskipTests=true $@"


# Docker aliases ---------------------------------------------------
alias dm-up="docker-machine start $DOCKER_MACHINE_NAME"
alias dm-down="docker-machine stop $DOCKER_MACHINE_NAME"
alias dm-list="docker-machine ls"
alias ds="docker ps"
alias di="docker images"
alias drmf='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'
alias drmfi='docker rmi $(docker images -a -q)'
alias dslogs='docker-sync logs -f'


# Docker container -------------------------------------------------
alias dc="docker-compose"
alias php72="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:7.2-cli-alpine php"
alias php73="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:7.3-cli-alpine php"
alias php74="docker run -it --rm -v \$PWD:/usr/src/myapp -w /usr/src/myapp php:7.4-cli-alpine php"
alias php="php74"

alias composer-require-checker="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/composer-require-checker"
alias c="composer"
alias dephpend="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/dephpend"
alias deptrac="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/deptrac"
alias php-cs-fixer="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/php-cs-fixer"
alias phpstan="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpstan"
alias phpunit6="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpunit6"
alias phpunit7="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpunit7"
alias phpunit8="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/phpunit8"
alias rmt="docker run -it --rm -v \$PWD:/app -v ~/.gitconfig:/root/.gitconfig -v ~/.gitconfig.local:/root/.gitconfig.local -v $SSH_AUTH_SOCK:/ssh-auth.sock  -v ~/.gnupg/:/root/.gnupg/ --env SSH_AUTH_SOCK=/ssh-auth.sock core23/rmt"
alias rector="docker run -it --rm -v \$PWD:/app -v $SSH_AUTH_SOCK:/ssh-auth.sock --env SSH_AUTH_SOCK=/ssh-auth.sock core23/rector"
alias fix="php-cs-fixer fix -v"
